// *************
// * VARIABLES *
// *************
:root {
  // spacers
  --s1: 1rem;
  --s2: 1.5rem;
  --s3: 2.25rem;

  // colors
  --color-light: #eee;
  --color-dark: #222;
}

$ratio: 1.25;

// * borders *
$border-width: 0.125rem;
// $border-width-sm: $border-width / $ratio;
// $border-witdh-lg: $border-width: * $ratio;

// * margins *
$margin-base: 1.5rem;

// Question: Does it make sense to create such specific variables?
// (bootstrap kind of does it too)
// And if so, does it make sense to define them directly in e.g. stack.scss?
$stack-child-mt: $margin-base;
$stack-child-mt-sm: $margin-base / $ratio;
$stack-child-mt-lg: $margin-base * $ratio;

// * widths*
$max-width: 50ch;

// *********
// * RULES *
// *********
* {
  box-sizing: border-box;
}

// Exception-based approach for setting max-width:
* {
  max-width: $max-width;
}
html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

a, a:hover {
  font-weight: bold;
  color: $body-color !important;
}

// *******************
// * UTILITY CLASSES *
// *******************

// Question: What's the definition of utility classes?
// Is 'border-dark' a utility class?

.border-dark {
  border: $border-width solid $gray;
}

.top-sticky {
  position: sticky;
  top: 0;
}

