<header>
  <h1>The Box</h1>
  <p>
    <a href="https://every-layout.dev/layouts/box/" target="blank">
        Chapter on Every Layout
    </a>
  </p>
  <p>
    <a href="https://every-layout.dev/layouts/stack/#the-generator" target="blank">
      Code Generator
    </a>
  </p>
</header>

<body>
  <section>
    <div class="stack">
      <%= render 'shared/box'%>
      <%= render 'shared/box-invert'%>
      <%= render 'shared/box'%>
      <%= render 'shared/box-invert'%>
    </div>
  </section>
</body>
