<div class="stack center">
  <header>
    <h1>The Box</h1>
    <p>The Box is responsible for properly fitting content inside of it using padding on all sides.</p>
    <p>
      <a href="https://every-layout.dev/layouts/box/" target="blank">
          Chapter on Every Layout
      </a>
    </p>
  </header>

  <body>
    <section>
      <div class="stack">
        <%= render 'shared/box'%>
        <%= render 'shared/box-invert'%>
        <%= render 'shared/box'%>
        <%= render 'shared/box-invert'%>
      </div>
    </section>
  </body>
</div>
