<div class="stack center">
  <header>
    <h1>The Center</h1>
    <p>The Center is responsible for centering content by using horizontal margin.</p>
    <p>
      <a href="https://every-layout.dev/layouts/center/" target="blank">
          Chapter on Every Layout (paid version only)
      </a>
    </p>
    <p>
      <a href="https://every-layout.dev/demos/center-documentation-layout/" target="blank">Demo</a>
    </p>
  </header>

  <body>
    <div class="stack center center-intrinsic">
      <%= render 'shared/p' %>
      <div class="box border-dark">
        <p>A narrower element</p>
      </div>
      <%= render 'shared/p' %>
    </div>
  </body>
</div>
