<div class="stack">
  <header class="box">
    <h1>The Cluster</h1>
    <p>The Cluster is responsible for positioning elements of different lengths next (and below) of each other (wihout being restricted to a grid layout) by placing margins on all sides of the elements.</p>
    <p>
      <a href="https://every-layout.dev/layouts/cluster/" target="blank">
          Chapter on Every Layout (paid version only)
      </a>
    </p>
    <p>
      <a href="https://every-layout.dev/demos/cluster-ctas/" target="blank">Demo on Every Layout</a>
    </p>
    <p>
      <a href="https://every-layout.dev/demos/cluster-header/" target="blank">Demo of a header with nested Clusters</a>
    </p>
  </header>

  <body>
    <div class="cluster">
      <!-- The wrapper element is included to insulate
      adjacent content from the negative margin. -->
      <div class="cluster-wrapper">
        <div class="box border-dark">
          <p>a</p>
        </div>
        <div class="box border-dark">
          <p>b</p>
        </div>
        <div class="box border-dark">
          <p>c</p>
        </div>
        <div class="box border-dark">
          <p>--- -- ---</p>
        </div>
        <div class="box border-dark">
          <p>- ---- - ------- --- ------ -</p>
        </div>
        <div class="box border-dark">
          <p>d</p>
        </div>
        <div class="box border-dark">
          <p>a</p>
        </div>
        <div class="box border-dark">
          <p>b</p>
        </div>
        <div class="box border-dark">
          <p>c</p>
        </div>
        <div class="box border-dark">
          <p>--- -- ---</p>
        </div>
        <div class="box border-dark">
          <p>- ---- - ------- --- ------ -</p>
        </div>
        <div class="box border-dark">
          <p>d</p>
        </div>
        <div class="box border-dark">
          <p>a</p>
        </div>
        <div class="box border-dark">
          <p>b</p>
        </div>
        <div class="box border-dark">
          <p>c</p>
        </div>
        <div class="box border-dark">
          <p>--- -- ---</p>
        </div>
        <div class="box border-dark">
          <p>- ---- - ------- --- ------ -</p>
        </div>
        <div class="box border-dark">
          <p>d</p>
        </div>
      </div>
    </div>
  </body>
</div>
