<div class="stack">
  <header class="box">
    <h1>The Cover</h1>
    <p>The Cover is responsible for placing an element at center while allowing elements above and/or below (max of 3 elements in total).</p>
    <p>
      <a href="https://every-layout.dev/layouts/cover/" target="blank">
          Chapter on Every Layout
      </a>
    </p>
    <p>
      <a href="https://every-layout.dev/demos/cover-html-book/" target="blank">Demo on Every Layout</a>
    </p>
    <!-- <p>
      <a href="https://every-layout.dev/demos/sidebar-input-with-button/" target="blank">Demo of Sidebar input with button</a>
    </p>
    <p>
      <a href="https://every-layout.dev/layouts/sidebar/#the-generator" target="blank">Code Generator</a>
    </p> -->

  </header>

  <body>
    <div class="cover box">
      <p>First Child</p>
      <h1>Principal Element</h1>
      <p>Last Child</p>
    </div>
  </body>
</div>
