<div class="stack center">
  <header>
    <h1>Every Layout</h1>
    <p>This page is the result of practicing CSS while reading through the EPUB of <a href="https://every-layout.dev/" target="blank">Every Layout</a>.</p>
  </header>

  <body class="stack">
    <section>
      <div class="box">
        <h2>Main learnings</h2>
        <p>I took notes for each chapter which is not a Layout Primitive (Box, Stack, Cluster, ...). For the Layout Primites, I have recreated them.</p>
      </div>
      <div class="box">
        <h3>Boxes</h3>
        <p>Use box-sizing: border-box for (almost) all elements.</p>
      </div>
      <div class="box">
        <h3>Composition</h3>
        <p>Use <em>primitives</em> to style components. A primitive is a very simple piece of layout with a simple responsibility, e.g. Stack: "space elements vertically".</p>
      </div>
      <div class="box">
        <h3>Units</h3>
        <p>Use relative units (rem, em, ch) based on the context.</p>
      </div>
      <div class="box">
        <h3>Global and local styling</h3>
        <p>Use global styles (e.g. body{...} or p{...}) wherever possible and create exceptions from the rule by using utility classes which modify global variables.</p>
      </div>
      <div class="box">
        <h3>Modular scale</h3>
        <p>Define global CSS rules in a harmonic way by in-/decreasing by the same ratio/a power of this ratio.</p>
      </div>
      <div class="box">
        <h3>Axioms</h3>
        <p>Use exception-based global styling with global variables to apply basic rules to many elements at once. Rely on the browser's algorithms to design responsive pages rather than defining pixels or using media queries.</p>
      </div>
    </section>

    <section>
      <div class="box">
        <h2>Layout Primitives</h2>
        <%= render 'shared/layout-links' %>
      </div>
    </section>
  </body>
</div>
