<div class="stack">
  <header class="box">
    <h1>The Sidebar</h1>
    <p>The Sidebar is responsible for positioning a sidebar (surprise) next/above to adjacent elements by applying proper wrapping, growing and horizontal margin.</p>
    <p>
      <a href="https://every-layout.dev/layouts/sidebar/" target="blank">
          Chapter on Every Layout
      </a>
    </p>
    <p>
      <a href="https://every-layout.dev/demos/sidebar-media-object/" target="blank">Demo on Every Layout</a>
    </p>
    <p>
      <a href="https://every-layout.dev/demos/sidebar-input-with-button/" target="blank">Demo of Sidebar input with button</a>
    </p>
    <p>
      <a href="https://every-layout.dev/layouts/sidebar/#the-generator" target="blank">Code Generator</a>
    </p>

  </header>

  <body>
    <div class="box">
      <div class="with-sidebar">
        <div> <!-- intermediary wrapper -->
          <div class="sidebar border-dark">
            <p>
              -------------------- ------------- --------------- --------- -------------- ------------- ----------- ----------
              <br>
              <br>
              SIDEBAR
              <br>
              <br>
              -------------------- ------------- --------------- --------- -------------- ------------- ----------- ----------
            </p>
          </div>
          <div class="not-sidebar border-dark">
            <p>
            -------------------- ------------- --------------- --------- -------------- ------------- ----------- ------------------------------ ------------- --------------- --------- -------------- ------------- ----------- ------------------------------ ------------- ---------------
            <br>
            <br>
            NOT SIDEBAR
            <br>
            <br>
            -------------------- ------------- --------------- --------- -------------- ------------- ----------- ------------------------------ ------------- --------------- --------- -------------- ------------- ----------- ------------------------------ ------------- ---------------
          </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
