<div class="stack">
  <header class="box">
    <h1>The Switcher</h1>
    <p>The Switcher is responsible for switching between a row-based (horizontal) and a column-based (vertical) layout (without any layout steps in between) at a <em>container</em>-based breakpoint. This is achieved by two thresholds based on the container width and the number of elements.</p>
    <p>
      <a href="https://every-layout.dev/layouts/switcher/" target="blank">
          Chapter on Every Layout (paid version only)
      </a>
    </p>
    <p>
      <a href="https://every-layout.dev/demos/switcher-basic/" target="blank">Demo on Every Layout</a>
    </p>
    <!-- <p>
      <a href="https://every-layout.dev/demos/sidebar-input-with-button/" target="blank">Demo of Sidebar input with button</a>
    </p>
    <p>
      <a href="https://every-layout.dev/layouts/sidebar/#the-generator" target="blank">Code Generator</a>
    </p> -->

  </header>

  <body>
    <div class="switcher cluster box">
      <div> <!-- intermediary wraper -->
        <div class="border-dark">
          <p>Some element</p>
        </div>
        <div class="border-dark">
          <p>Some element</p>
        </div>
        <div class="border-dark">
          <p>Some element</p>
        </div>
<!--         <div class="border-dark">
          <p>Some element</p>
        </div>
        <div class="border-dark">
          <p>Some element</p>
        </div> -->
      </div>
    </div>
  </body>
</div>
